/*variables*/
$skill-font-size-sm: 1rem;
$space-section: 3rem;

/*text alignment*/
$center-text: center;
$margin-center: 0 auto;

/*width*/
$full-width: 100%;
$small-image: 50px;
$third: 30%;

/*width*/
$semi-rounded: 15px;

/*width*/
$background-primary: #66bfbf;
$background-secondary: #eaf6f6;
$background-red: #ff0063;
$primary-text-color: #06283d;
